.product-list{
    /* overflow-x: hidden; */
    display: grid;
    grid-auto-columns: min-content;
    grid-auto-flow: dense;
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 10px;
    grid-template-columns: repeat(4, 1fr);
    margin: 10px auto;
    max-width: 100%;
}


.basket-flyout{
    display:flex;
    align-items: center;
    justify-content: center;
    width:150px;
    height:40px;
    background-color: #2874f0;
    color:white;
    position: fixed;
    right:40px;
    font-size: 14px;
    font-weight: 500;
    bottom:3%;
    cursor: pointer;
}


